@font-face {
    font-family: 'Oracle';
    src: url('../assets/fonts/ABCOraclePlusVariable-Regular.woff2') format('woff2');
    font-weight: 100 900; /* Définit la plage de poids */
    font-stretch: 75% 125%; /* Définit la plage d'étirement (facultatif) */
    font-style: normal;
  }
  
  /* Appliquer la police */
  body {
    font-family: 'Oracle', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: black;
    padding: 1rem;
    text-align: center;
  }
  
  header a {
    color: black;
    margin: 0 1rem;
    text-decoration: none;
  }
  
  .projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    padding: 2rem;
  }
  
  .project {
    position: relative;
    overflow: hidden;
  }
  
  .project img {
    width: 100%;
    filter: grayscale(100%);
    transition: filter 0.3s ease;
  }
  
  .project img:hover {
    filter: grayscale(0%);
  }
  
  .filters {
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .filters button {
    margin: 0 0.5rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }